*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

body {
    background-color: #141a39;
    transition: all 0.5s ease-in-out;
}

body.green {
    background-color: #0d341f;
    transition: all 0.5s ease-in-out;
}

#nav{
    background: url('../images/hbb.png') no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    border-bottom: 2px solid #bfbfbf;
    position: fixed;
    transition: all 0.5s ease-in-out;
    padding: 25px;
    max-height: 200px;
}

#nav.green{
    background: url('../images/hbg.png') no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    border-bottom: 2px solid #bfbfbf;
    position: fixed;
    transition: all 0.5s ease-in-out;
    padding: 25px;
    max-height: 200px;
}

#nav.active{
    padding: 5px;
}

#nav.active h1, #nav.active h2{
    margin-bottom: 5px;
}


/** HEADER **/
h1, h2{
    font-size:2.5em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: #bfbfbf;
    text-shadow: 4px 4px 4px #000;
    top: 0;
    left: 0;
}

h2{
    font-size: 1em;
    font-style: italic;
}

#intro p{
    width: 60%;

    text-align: center;
    margin-left: 20%;
    margin-bottom: 25px;
    color: #bfbfbf;
    text-shadow: 3px 3px 3px #222;
}

#intro button{
    width: 30%;
    text-align: center;
    margin-left: 35%;
    margin-bottom: 25px;
    color: #000;
    background-image: linear-gradient(#38cf7c, #189852);
    margin-top: calc(30vh);
    font-size: 1em;
    text-align: center;
    font-style: italic;
    border: 3px solid #0d341f;
    transition: all 0.5s ease-in-out;
}

#intro button.green{
    width: 30%;
    text-align: center;
    margin-left: 35%;
    margin-bottom: 25px;
    color: #000;
    background-image: linear-gradient(#52b7f8, #3970ee);
    margin-top: calc(30vh);
    font-size: 1em;
    text-align: center;
    font-style: italic;
    border: 3px solid #141a39;
    transition: all 0.5s ease-in-out;
}

/** BODY **/
h3{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #bfbfbf;
    font-style: bold;
}

.row{
    width:100%;
    padding: 10px 5% 10px 5%;
    margin-bottom: 40px;
    /**background-image: linear-gradient(rgba(255,0,0,0), rgba(191,191,191,0.8));**/
    background: url('../images/background.png') repeat-x;
    background-size: contain;
    overflow: hidden;
}

.left, .middle, .right{
    float: left;
    width: 25%;
    margin-right: 6.25%;
}

.left{
    margin-left: 6.25%;
}

.left img, .middle img, .right img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.left p, .middle p, .right p {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    text-align: center;
    color: #222;
    text-shadow: 3px 3px 3px #bfbfbf;
}

.misc{
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-bottom: 10px;
    color: #bfbfbf;
    text-shadow: 3px 3px 3px #222;
}

/** FOOTER **/
#footer{
    background: url('../images/hbb.png') no-repeat;
    background-size: auto;
    background-position: center;
    border-top: 2px solid #bfbfbf;
    padding: 15px, 0, 15px, 0;
    margin-top: 25px;
    height: 150px;
}

#footer.green{
    background: url('../images/hbg.png') no-repeat;
    background-size: auto;
    background-position: center;
    border-top: 2px solid #bfbfbf;
    padding: 15px, 0, 15px, 0;
    margin-top: 25px;
    height: 150px;
}

#footer p{
    padding-top: 70px;
    text-align: center;
    color: #bfbfbf;
    text-shadow: 3px 3px 3px #222;
}